@import "../../styles/theme";
@import "../../config/conf";

.name{
  text-align: center;
  font-weight: 400;
  font-family: 'Staatliches', sans-serif;
  color: white;
}

.container{
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: auto;


}
.no-overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
.luca{
  font-size: 228px;
  position: relative;
  animation: fadeInRight forwards $luca-animation;
  animation-delay: $luca-delay;
  height: 340px;
  left: -100%;
}
.scherer{
  font-size: 121px;
  animation: fadeInBottom forwards $scherer-animation;
  position: relative;
  animation-delay: $scherer-delay;
  top: -1000%;
  left: 3px;

}
.cover{
  height: 120px;
  width: 100%;
  top: 220px;
  position: absolute;
}

@keyframes fadeInRight {
  from{
    left: -1000%;
  }
  to{
    left: 0;
  }
}
@keyframes fadeInBottom {
  from{
    top: -1000%;
  }
  to{
    top: 0;
  }
}


