@import "../../styles/theme";
@import "../../config/conf";

.container{
  width: 100%;
  height: 100%;
  animation: fadeAwayTop forwards $intro-animation;
  animation-delay: $intro-delay;
  position: absolute;
  background-color: mat-color($app-primary)
}

@keyframes fadeAwayTop {
  from{
    top: 0;
  }
  to{
    top: -1000%;
    height: 0;
  }
}
